
.imagemAhro{
    background-image: url(https://image.freepik.com/vetores-gratis/comida-saborosa-emoji_1319-913.jpg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.imagemJeff{
    background-image: url();
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}